.index{
    background-color: #141414;
    text-align: center;
    font-family:'Raleway', sans-serif;
}

.titulo1 {
    color: #fefefe;
    font-size: 52px;
    font-weight: bold;
    width: auto;
    margin-top: 180px;
    margin-bottom: 15px;
}

.container {
    align-content: center;
    justify-content: center;
    width: 900px;
    margin: 100px;
    display:inline;
}

.container img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 4px;
}

.container img:hover {
    border:3.5px solid white;
}

.individuo:hover {
    color: white;
}

.container p {
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
}

.individuo {
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    color: #7a7a7a;
    cursor: pointer;
}

button {
    color: #7a7a7a;
    font-size: 18px;
    border: 1px solid #7a7a7a;
    background-color: #141414;
    outline: none;
    text-shadow: none;
    margin-top: 50px;
    padding: 12px;
    width: 198px;
    height: 45px;
    cursor: pointer;
}

button:hover {
    color: white;
    border: 1px solid white;
}

/* AQUI COMEÇA A HOME */

.browse {
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
}

.logo1 img {
    width: 100px;
    margin-left: 60px;
    margin-top: 20px;
    max-width: 90px;
}

nav div {
    display: inline-block;
    color: white;
}

.nav1 li {
    display: inline-block;
    max-width: 150px;
    margin-left: 15px;
}

.nav1-list {
    margin-bottom: 50px;
    /*arrumar a centralização. margin-height? */
}

.nav2 li {
    display: inline-block;
    text-align: right;
}

header {
    background-image: url(./img/destaque3.webp);
    background-color: #141414;
    background-size: cover;
    height: 690px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo-filme img {
    margin-left: 60px;
    width: 550px;
    margin-top: 30px;
}

.top10 {
    display: flex;
    margin-top: 20px;
    color: white;
}

.top10 div {
    background-color: #e50914;
    width: 30px;
    height: 32px;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-left: 60px;
    padding: 3px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.top10-destaque {
    font-size: 12px;
    padding-top: 4px;
}

.top10 h1 {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;
    line-height: 40px;
    /*adicionar efeito shadow*/
}

.sinopse-destaque {
    color: white;
    margin-left: 60px;
    margin-top: 25px;
    max-width: 550px;
    font-size: 18px;
    line-height: 22px;
}

.botoes {
    display: inline-flex;
    margin-left: 60px;
    margin-top: 25px;
    justify-content: space-between;
    width: 400px;
}

.botao1 {
    background-color: white;
    color: black;
    font-size: 18px;
    display: flex;
    line-height: 25px;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.botao1 img {
    max-width: 30px;
    max-height: 25px;
    margin-left: 25px;
}

.botao2 {
    background-color: rgba(80, 80, 80, 0.6);
    color: white;
    font-size: 18px;
    display: flex;
    line-height: 25px;
    height: 50px;
    width: 230px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.botao2 img {
    max-width: 30px;
    max-height: 25px;
    margin-left: 25px;
}