.index{
    background-color: #141414;
    text-align: center;
    font-family:'Raleway', sans-serif;
}

.titulo1 {
    color: #fefefe;
    font-size: 52px;
    font-weight: bold;
    width: auto;
    margin-top: 180px;
    margin-bottom: 15px;
}

.container {
    align-content: center;
    justify-content: center;
    width: 900px;
    margin: 100px;
    display:inline;
}

.container img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 4px;
}

.container img:hover {
    border:3.5px solid white;
}

.individuo:hover {
    color: white;
}

.container p {
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
}

.individuo {
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    color: #7a7a7a;
    cursor: pointer;
}

.individuo a {
    text-decoration: none;
    color: #7a7a7a;
}

button {
    color: #7a7a7a;
    font-size: 18px;
    border: 1px solid #7a7a7a;
    background-color: #141414;
    outline: none;
    text-shadow: none;
    margin-top: 50px;
    padding: 12px;
    width: 198px;
    height: 45px;
    cursor: pointer;
}

button:hover {
    color: white;
    border: 1px solid white;
}

/* AQUI COMEÇA A HOME */

.browse {
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
}

.logo1 img {
    width: 100px;
    margin-left: 60px;
    margin-top: 20px;
    max-width: 90px;
    float: left;
}

.navegacao {
    display: flex;
    width: 100%;
}

.navegacao div {
    display: flex;
    color: white;
}

.nav1 li {
    display: inline-flex;
    max-width: 150px;
    margin-left: 15px;
    font-size: 15px;
}

.nav1-list {
    margin-top: 21px;
    margin-left: 15px;
}

.nav2 {
    position: fixed;
    right: 60px;
    top: 15px;
}

.nav2 ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav2 li {
    font-size: 15px;
    display: flex;
}

.nav2 img {
    max-width: 30px;
}

.triangulo {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    transition: transform 367ms cubic-bezier(.21,0,.07,1);
    margin-left: 15px;
    margin-top: 12px;
}

header {
    background-image: url(./img/destaque5.webp);
    background-color: #141414;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.logo-filme img {
    margin-left: 60px;
    width: 550px;
    margin-top: 30px;
}

.top10 {
    margin-top: 20px;
    color: white;
    width: 600px;
    display: flex;
    margin-left: 60px;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    /*adicionar shadow na fonte do parágrafo e título, aka .top10 p*/
}

.top10 p {
    margin-left: 15px;
}

.top10 svg {
    max-width: 30px;
}

.sinopse-destaque {
    color: white;
    margin-left: 60px;
    margin-top: 25px;
    max-width: 550px;
    font-size: 18px;
    line-height: 22px;
}

.botoes {
    display: inline-flex;
    margin-left: 60px;
    margin-top: 25px;
    justify-content: space-between;
    width: 400px;
}

.botao1 {
    background-color: white;
    color: black;
    font-size: 18px;
    display: flex;
    line-height: 25px;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.botao1 img {
    max-width: 30px;
    max-height: 25px;
    margin-left: 25px;
}

.botao2 {
    background-color: rgba(80, 80, 80, 0.6);
    color: white;
    font-size: 18px;
    display: flex;
    width: 230px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: -10px;
}

.botao2 p {
    background-color: rgba(80, 80, 80, 0);
}

.botao2 svg {
    width: 60px;
}

.minha-lista {
    color: white;
}

.minha-lista ul {
    background-color: red;
    display: inline-flex;
}

.minha-lista li {
    background-color: orange;
}